@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?40tux6');
  src:  url('fonts/icons.eot?40tux6#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?40tux6') format('truetype'),
    url('fonts/icons.woff?40tux6') format('woff'),
    url('fonts/icons.svg?40tux6#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-footer_2-2:before {
  content: "\e900";
  color: #f8f8f8;
}
._icon-footer_2_2:before {
  content: "\e901";
}
._icon-footer_2-1:before {
  content: "\e902";
  color: #f8f8f8;
}
._icon-footer_3:before {
  content: "\e903";
  color: #f8f8f8;
}
._icon-steps_1:before {
  content: "\e904";
  color: #fff;
}
._icon-steps_2:before {
  content: "\e905";
  color: #fff;
}
._icon-steps_3:before {
  content: "\e906";
  color: #fff;
}
._icon-footer_1:before {
  content: "\e907";
  color: #f8f8f8;
}
._icon-arrow:before {
  content: "\e908";
  color: #fff;
}
._icon-pencil2:before {
  content: "\e909";
}
